/* Reset + base styl */
body {
    font-family: 'Segoe UI', 'Roboto', sans-serif;;
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem 2rem;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

header a {
    text-decoration: none;
    margin-right: 1rem;
}

header a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    max-width: 960px;
    margin: auto;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    margin-top: 2rem;
}

ul {
    padding-left: 1.5rem;
}

a {

}

a:hover {
    text-decoration: underline;
}

/* Tlačítka */
button,
input[type="submit"] {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {

}

/* Tabulky ve formulářích */
table {
    margin-bottom: 1rem;
}

table td {
    padding: 0.4rem;
}

/* Kartičky */
.card {

    border-radius: 4px;
    padding: 1rem;
    margin: 1rem 0;

}

/* Obrázky u her */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
}


